*{
    margin: 0;
    padding: 0;
}
body{
    transition: all 0.3s;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
    z-index: 1;
}


.logo{
    margin-left: 3rem;
    text-shadow: 0px 0px 3px rgb(9, 9, 9);
}
button{
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgb(9, 9, 9);
    border: 2px solid black;
    border-radius: 40px;
    transition: all 0.3s;
    color: white;
    height: 3.5rem;
    
}
button:hover {
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
h4{
    margin-right: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
}
img{
    width: 2.5rem;
    transition: all 1s;
    
}
.mode:hover img{
    transform: rotate(180deg);
}

.light{
    display: none;

}
.dark {
    display: block;
}


#main{
    display: flex;
    flex-wrap: wrap;
    margin-top: rem;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 241, 241, 0.526);
    
    
}
a{
    text-decoration: none;
    color: black;
}
article{
    background-color:white;
    box-shadow: 0px 0px 10px 1px rgb(197, 197, 197);
    width: 16.5rem;
    height: 25rem;
    border-radius: 10px;
    margin-top: 5rem;
    transition:150ms ease-in-out;
    
   
}
.info{
    margin: 1.3rem;
    text-align: left;
}
h2{
    margin-bottom:  1rem;
}
p{
    font-weight: bold;
    padding: 1rem 0 ;
}
span{
    font-weight: 200;
    color: rgb(60, 58, 58);
}
.flags{
    width: 16.5rem;
    height: 10rem;
    border-radius: 10px 10px 0 0;
}
article:hover {
    margin-top:4rem;
    height: 26rem;
}


/*    Dark Mode     */
.dark-mode-total{
    background-color:#2b3945;
    
}
.title-dark-mode{
    color: white;
    text-shadow: 0px 0px 3px rgb(249, 249, 249);
}
.light-mode{
    display: none;
    position: absolute;
}
.dark-mode{
    position: relative;
   
}
.dark-mode-active{
    position: relative;
    display: block;
}
.light-mode-inactive{
    display: none;
}
.btn-darkmode{
    background-color: rgb(249, 249, 249);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(5, 5, 5);
}
.btn-darkmode:hover {
    box-shadow: 0px 0px 10px 3px white;
    border: transparent;
}

.mode-btn{
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 40px;
    position: absolute;
    transform: translate(5px);
    
}
.light-active{
    display: none;

}
.dark-inactive{
    display: block;
}

.section-dark{
    background-color: rgba(3, 3, 3, 0.272);
}

.articles-dark{
    background-color: #2b3945;
}
/* Page 2 */

#mainSingle{
    display: flex;
    margin: 7rem;
}
.back{
    width: 12rem;
    display: flex;
    justify-content: center;
    margin-right: 50rem;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 1rem;
    color: rgb(101, 97, 97);
    align-items: center;
    transition: all 0.1s;
    box-shadow: 0px 0px 10px 0px gray;
    

}
.back img {
    width: 1.4rem;
}
.back:hover{
    box-shadow: none;
}
.backlink:hover img {
    transform: translateX(-20px);
}

.backlink {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#mainSingle{
    
}
#mainSingle img {
    width: 20rem;
    
}
.country{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


